.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_brand {
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.navbar_navlink {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.navbar_navlink_icon {
  font-size: 30px;
  color: black;
  margin-right: 20px;
}

.navlink:hover {
  color: #007afe;
}

.navbar_navlink_icon:hover {
  color: #007afe;
}
