.loginPage {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  width: 250px;
  height: 330px;
  background-color: white;
  margin-top: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
}

.title {
  font-size: 45px;
  color: #707070;
  margin: 0;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon {
  margin-top: 10px;
  font-size: 30px;
}

.formInput {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  margin-left: 10px;
  width: 100%;
  font-size: 20px;
}

.formInput:focus {
  outline: none;
  border-bottom: 2px solid rgb(16, 132, 228);
}

.loginBtn {
  font-size: 25px;
  border-radius: 30px;
  margin-top: 20px;
  background-color: #007afe;
  border: none;
  color: white;
  padding: 10px;
  width: 150px;
}

.loginBtn:hover {
  background-color: #005bbd;
}

.forgotBtn {
  margin-top: 20px;
  color: #707070;
}
